# I. Import librairies

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

# II. Import dataset

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Data Mining Project/Final Files/Data/Location.csv')

In [ ]:
df.head()

   Unnamed: 0         Location  Occurrence
0           0    United States       36566
1           1   Washington, DC       19660
2           2     New York, NY       18012
3           3  Los Angeles, CA       15733
4           4              USA       15261

# III. Definition and application of transformation functions

In [ ]:
geolocator = Nominatim(user_agent="SD701", timeout=None)

def get_latitude(x):
  localisation = geolocator.geocode(str(x))
  if localisation is None:
      return ''
  else:
      return localisation.latitude

def get_longitude(x):
  localisation = geolocator.geocode(str(x))
  if localisation is None:
      return ''
  else:
      return localisation.longitude

def get_country(data):
     data['Country'] = data['Latitude'].apply(lambda x: str(x)) + "," + data['Longitude'].apply(lambda x: str(x))
     data['Country'] = data['Country'].apply(lambda x: geolocator.reverse(x).raw['address'].get('country', '') if x != ',' else '')
     return data

In [ ]:
def get_country(position):
  localisation = geolocator.reverse(str(position))
  if localisation is None: 
    return ''
  else: 
    if  localisation.raw['address']:
      return localisation.raw['address'].get('country', '')
    else: 
      return ''

In [ ]:
df['Position'] = df['Latitude'].apply(lambda x: str(x)) + "," + df['Longitude'].apply(lambda x: str(x))

In [ ]:
df['Position'].head().apply(lambda x: get_country(x))

0    United States of America
1    United States of America
2    United States of America
3    United States of America
4    United States of America
Name: Position, dtype: object

In [ ]:
# Add features longitude and latitude to dataframe 
df["Latitude"] = df["Location"].apply(lambda x: get_latitude(x))
df["Longitude"] = df["Location"].apply(lambda x: get_longitude(x))

In [ ]:
df['Position'] = df['Latitude'].apply(lambda x: str(x)) + "," + df['Longitude'].apply(lambda x: str(x))
df ['Country'] = df['Position'].apply(lambda x: get_country(x))

In [ ]:
df.head()

   Unnamed: 0  ...                 Position
0           0  ...  39.7837304,-100.4458825
1           1  ...   38.8949924,-77.0365581
2           2  ...   40.7127281,-74.0060152
3           3  ...   34.0536909,-118.242766
4           4  ...  39.7837304,-100.4458825

[5 rows x 7 columns]

In [ ]:
df =  df.loc[df['Latitude']!= '']
df =  df.loc[df['Longitude']!= '']

In [ ]:
get_country(df.head())

In [ ]:
# Add country to the dataframe 
df = get_country(df)

In [ ]:
df['Country'].unique()

array(['39.7837304,-100.4458825', '38.8949924,-77.0365581',
       '40.7127281,-74.0060152', ..., '40.7464906,-74.0015283',
       '28.756618000000003,-81.33888382214167',
       '42.25092615,-83.73143257518268'], dtype=object)

# IV. Filter and export the dataset

In [ ]:
df = df[['Location', 'Latitude', 'Longitude', 'Country']]

In [ ]:
df.head()

          Location Latitude Longitude                  Country
0    United States  39.7837  -100.446  39.7837304,-100.4458825
1   Washington, DC   38.895  -77.0366   38.8949924,-77.0365581
2     New York, NY  40.7127   -74.006   40.7127281,-74.0060152
3  Los Angeles, CA  34.0537  -118.243   34.0536909,-118.242766
4              USA  39.7837  -100.446  39.7837304,-100.4458825

In [ ]:
df.to_csv('/content/drive/My Drive/Data Mining Project/Final Files/Data/Location_enriched.csv')